.main-footer {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    column-gap: 90px;
    background-color: #464547;
    padding: 45px 100px;
    color: #FFFDFD;
    font-size: 14px;
}

.information-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.office-information {
    white-space: pre;
}

.partners-logo-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(2, 50px);
    grid-template-areas:'logo-1 logo-2 large-logo' 'logo-3 logo-4 large-logo';
    column-gap: 30px;
    row-gap: 25px;
    margin-top: 10px;
}

.partner-large-logo {
    grid-area: large-logo;
}

.partner-logo {
    background-color: yellow;
}
.social-images-container {
    display: flex;
}

.social-image {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: yellow;
    margin-left: 1px;
    border-radius: 5px;
}

.footer-link {
    color: #FFFDFD;
    text-decoration: none;
}